.env*
__pycache__


etl-artists.pem

test.ipynb
test.py

history/
logs/*

to_csv.ipynb
node_modules/

migrate/
test_scripts/

todo.txt

aws-api/routers/auth.py
aws-api/.git

.vscode

google-client-secret.json